{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Sign Up</h1>
                    <form method="POST" autocomplete="off" action="{{ path_for('auth.signup') }}">
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control{% if has_error('email') %} is-invalid{% endif %}"
                                   name="email"
                                   value="{{ val('email') }}"
                                   placeholder="Enter email">
                            {% if has_error('email') %}
                                <small class="form-text text-danger">{{ error('email') }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Your name</label>
                            <input type="text" class="form-control{% if has_error('name') %} is-invalid{% endif %}"
                                   name="name"
                                   value="{{ val('name') }}"
                                   placeholder="Enter your name">
                            {% if has_error('name') %}
                                <small class="form-text text-danger">{{ error('name') }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control{% if has_error('password') %} is-invalid{% endif %}"
                                   name="password"
                                   placeholder="Password">
                            {% if has_error('password') %}
                                <small class="form-text text-danger">{{ error('password') }}</small>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Sing up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}