{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Change password</h1>
                    <form method="POST" autocomplete="off" action="{{ path_for('auth.password.change') }}">
                        <div class="form-group">
                            <label class="text-success">Current password</label>
                            <input type="password" class="form-control{% if has_error('password_old') %} is-invalid{% endif %}"
                                   name="password_old"
                                   placeholder="Input current password">
                            {% if has_error('password_old') %}
                                <small class="form-text text-danger">{{ error('password_old') }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" class="form-control{% if has_error('password') %} is-invalid{% endif %}"
                                   name="password"
                                   placeholder="New password here">
                            {% if has_error('password') %}
                                <small class="form-text text-danger">{{ error('password') }}</small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="text-warning">Confirm new password</label>
                            <input type="password" class="form-control{% if has_error('confirm_password') %} is-invalid{% endif %}"
                                   name="confirm_password"
                                   placeholder="New password confirm here">
                            {% if has_error('confirm_password') %}
                                <small class="form-text text-danger">{{ error('confirm_password') }}</small>
                            {% endif %}
                        </div>
                        {{ csrf.field | raw }}
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}